<select [ngModel]="currentTool"  (ngModelChange)="changeTool($event)">
    <option value="0">Select</option>
    <option value="1">Add mesh</option> 
</select> {{currentTool}}
<canvas (click)="onClickMap()" #renderCanvas id="renderCanvas" touch-action="none" tabindex="1" style="touch-action: none;"></canvas>
<!--Block editor-->
<div id="blockEditor" *ngIf="currentInteraction != null && this.currentInteraction.type === 1" >
    name: {{ currentInteraction.value.nameId }}<br/>
    width: <input type="number" [(ngModel)]= "currentInteraction.value.size.x " min="0" step="0.5" (ngModelChange)="onMeshChange($event)"/><br/>
    height: <input type="number" [(ngModel)]= "currentInteraction.value.size.y " min="0" step="0.5" (ngModelChange)="onMeshChange($event)"/><br/>
    depth:  <input type="number" [(ngModel)]= "currentInteraction.value.size.z " min="0" step="0.5" (ngModelChange)="onMeshChange($event)"/><br/>
    -----------<br/>
    rotation: <input type="number" [(ngModel)]= "currentInteraction.value.rotation.y" step="0.1" min="-10" max="10" (ngModelChange)="onMeshChange($event)"><br/>
    -----------<br/>
    Texture top<select [(ngModel)]= "currentInteraction.value.textureTop">
        <option value="texture1.png">Texture 1</option>
        <option value="texture2.png">Texture 2</option> 
    </select>
    <button (click)="deleteMesh()">Delete mesh</button> <button (click)="cloneMesh()">Clone mesh</button>
</div>
